In [1]:
import numpy as np
import pandas as pd

In [2]:
# original file
file_o = 'data/training.1600000.processed.noemoticon.csv'

In [3]:
# %load encodings.py
#!/bin/usr/env python

def get_encoding(file):
    import codecs
    encodings = ['UTF_8', 'ASCII','latin_1','iso8859_1','iso8859_15','cp1252','gb2312','euc_kr','cp1251','koi8_r','cp1250','iso8859_2',
 'cp1256','iso8859_6','big5','big5hkscs','cp037','cp424','cp437','cp500','cp737','cp775','cp850',
 'cp852','cp855','cp856','cp857','cp860','cp861','cp862','cp863','cp864','cp865','cp866','cp869',
 'cp874','cp875','cp932','cp949','cp950','cp1006','cp1026','cp1140','cp1250','cp1251','cp1252','cp1253','cp1254','cp1255',
 'cp1256','cp1257','cp1258','euc_jp','euc_jis_2004','euc_jisx0213','euc_kr','gb2312','gbk','gb18030','hz',
'iso2022_jp','iso2022_jp_1','iso2022_jp_2','iso2022_jp_2004','iso2022_jp_3','iso2022_jp_ext','iso2022_kr',
 'iso8859_2','iso8859_3','iso8859_4','iso8859_5','iso8859_6','iso8859_7','iso8859_8','iso8859_9','iso8859_10','iso8859_13','iso8859_14','iso8859_15',
 'johab','koi8_r','koi8_u','mac_cyrillic','mac_greek','mac_iceland','mac_latin2','mac_roman','mac_turkish',
 'shift_jis','shift_jis_2004','shift_jisx0213','utf_16','utf_16_be','utf_16_le','utf_7']
    
    for e in encodings:
        try:
            fh = codecs.open(file, 'r', encoding=e)
            fh.readlines()
            fh.seek(0)
        except UnicodeDecodeError:
            pass
        else:
            return e
            break

In [6]:
#get params for df
e = get_encoding(file_o)
headers = ['target', 'id','date','drop_this','user','text']

In [8]:
#create initial df
df = pd.read_csv(file_o, names=headers, encoding=e)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 6 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   target     1600000 non-null  int64
 1   id         1600000 non-null  int64
 2   date       1600000 non-null  object
 3   drop_this  1600000 non-null  object
 4   user       1600000 non-null  object
 5   text       1600000 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [11]:
#dropping useless column
df = df.drop(['drop_this'], axis=1)

KeyError: "['drop_this'] not found in axis"

In [12]:
df.head()

,target,id,date,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all...."

In [81]:
df.shape

(1600000, 5)

In [82]:
#convert date to datetime
df.date = pd.to_datetime(df.date, utc=False)

/Users/albertmorrow/opt/anaconda3/lib/python3.8/site-packages/dateutil/parser/_parser.py:1213: UnknownTimezoneWarning: tzname PDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 5 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   target  1600000 non-null  int64
 1   id      1600000 non-null  int64
 2   date    1600000 non-null  datetime64[ns]
 3   user    1600000 non-null  object
 4   text    1600000 non-null  object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 61.0+ MB